
#about-container{
  background-color: black;
  padding-top: 100px;
}



#blog {
  padding-top: 50px;
}
#signin{
  padding-top: 200px;
}

#dashboard{
  padding-top: 200px;
}
.section-header{
  padding-top: 50px;
}
.section-header-signin {
  padding-top: 200px;
}
.single-blog h4 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 30px;
    transition: all 300ms linear 0s;
}
.single-blog p {
    margin-bottom: 0px;
      color: #fff;
}
.single-blog .blog_btn {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
h4 {
    font-size: 28;
    font-weight: 700;
}

.form {
  border-style: solid;
  border-color: #18d26e;
  border-width: thick;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;

}


.distributor_products{
  padding-top:200px;
}

#sign-in{


}

#map{



}
#store-list {
  text-align: left;
}
.centerBlock{
  display: table;
  margin: auto;
}
#map-col{
  width: 50%;
}
#distance{
  color: white;
}
.storeLocatorInput{
  position: absolute;
   top: 650px;
    left: 5px;
     z-index: 2;
   }
.instagram-image img{
  width: 320px;
  height: 320px;
  margin-bottom: 30px;
  object-fit: cover;
  padding-left: 40px;
  padding-right: 40px;
}
#instafeed {
  padding-right: 80px;
  padding-bottom: 50px;
}
#likes {
  font-size: 1.5rem;

}

/**
 * border radius
 */

.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}

/**
 * product image on card
 */

.product-img {
    min-height: 100px;
}

.jumbotron h2 {
    margin-top: -20px;
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}

/**
 * jumbotron animation
 */

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
